/* univarsal prparty */

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Mr+De+Haviland&display=swap');


*{
    padding: 0px;
    margin: 0px;

}

.frame{
    height: 100vh;
    background-color: rgb(118, 118, 184);
    position: relative;
}

.text{
    color: rgb(45, 45, 120);
    text-align: center;
    font-size: 30px; 
    font-family: "Caveat", cursive;
}

.passage{
    font-family: "Mr De Haviland", cursive;
    font-family: "Caveat", cursive;
    font-weight: 400;
    font-size: 28px;
    padding: 20px;
} 



.table{
    height: 250px;
    width: 250px;
    bottom: 10px;
    position: absolute;
    right: 45%;
}

.krishna{
    height: 220px;
    width: 220px;
    bottom: 110px;
    position: absolute;
    right: 45%;
}
